body {
  font-family: ProximaNova, AvenirNext-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #143153;
}

#content {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#recipe-list {
  width: 100%;
  margin-top: 75px;
  text-align: left;
  font-size: 18px;
}

#recipe-list th {
  font-weight: 600;
  color: #393276;
}

#recipe-list a {
  text-decoration: none;
  color: #143153;
}

#recipe-list a:hover,
a.title:hover {
  text-decoration: underline;
}

.title {
  color: #143153;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.subtitle {
  color: #393276;
  font-weight: 600;
}

.meta-data {
  color: #748BA7;
  font-size: 14px;
}

.btn {
  width: auto;
  padding: 13px 35px;
  color: #FFFFFF;
  background-color: #4B688B;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background-color: #143153;
}

.upper-right {
  position: absolute;
  right: 0;
  top: 0;
}

.recipe-img {
  width: 60%;
  height: auto;
  margin-top: 75px;
}

input,
textarea {
  font-family: ProximaNova, AvenirNext-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  margin: 10px 0;
}

@media only screen and (max-width: 500px) {
  #content {
    width: 100%;
    margin: 0;
  }
}