body {
  font-family: ProximaNova, AvenirNext-Regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

#content {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#title {
  color: #143153;
  font-size: 36px;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 30px;
  color: #FFFFFF;
  background-color: #4B688B;
  text-decoration: none;
}

.btn:hover {
  background-color: #143153;
}

@media only screen and (max-width: 500px) {
  #content {
    width: 100%;
    margin: 0;
  }
}