body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #143153;
  background-color: #f7f8fb;
  margin: 0;
}

nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e3e7ef;
}

nav img {
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}

nav a {
    text-decoration: none;
}

nav .title {
  margin-left: 20px;
  color: #79589F;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

#content {
  width: 80%;
  margin: 50px auto 75px auto;
  position: relative;
  color: #96a3b6;
  font-size: 14px;
}

article {
  background: #fff;
  border: 1px solid #e3e7ef;
  border-radius: 3px;
  padding: 30px;
}

h1, #content .title {
  color: #596981;
  font-size: 32px;
  font-weight: normal;
  text-decoration: none;
}

#previews {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  font-size: 0;
}

#previews-scroll {
  white-space: nowrap;
}

#recipe-list {
  width: 100%;
  text-align: left;
  font-size: 14px;
  border-spacing: 0;
  background-color: #FFFFFF;
  border: 1px solid #e3e7ef;
  border-radius: 3px;
}

#recipe-list th {
  font-weight: normal;
  color: #596981;
  background-color: #eef1f6;
  line-height: 80px;
  cursor: pointer;
}

#recipe-list th:first-child {
  padding-left: 20px;
}

#recipe-list th.active:after {
  margin-left: 5px;
  content: '\25b2';
}

#recipe-list th.active.desc:after {
  content: '\25bc';
}

#recipe-list td {
    border-bottom: 1px solid #e3e7ef;
}

#recipe-list a,
#recipe-list td {
  text-decoration: none;
  color: #96a3b6;
}

#recipe-list a:hover,
a.title:hover {
  text-decoration: underline;
}

.list-img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.meta-data {
  color: #748BA7;
  font-size: 14px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e3e7ef;
  padding: 5px 0 10px;
}

.subtitle {
  color: #596981;
  font-weight: 600;
}

#edit-link {
  background-color: #DDDDDD;
}

#edit-link img {
  display: block;
}

#edit-link:hover {
  background-color: #4B688B;
}

.btn {
  text-decoration: none;
  border: 1px solid #79589f;
  color: #79589F;
  background-color: #fff;
  padding: 6px 20px;
  border-radius: 3px;
  width: auto;
}

.btn:hover {
  color: #fff;
  background-color: #79589F;
}

.upper-right {
  float: right;
  width: auto;
  line-height: 75px;
  padding: 0 35px;
  color: #596981;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.upper-right:hover {
  border-bottom: 5px solid #596981;
}

.recipe-img {
  width: 40%;
  height: auto;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.rating-background {
  background-color: #e3e7ef;
  height: 30px;
  width: 140px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.rating-background.view-page {
  height: 15px;
  width: 75px;
}

.rating {
  height: 30px;
  background-color: #79589F;
  position: absolute;
}

.view-page .rating {
  height: 15px;
}

.rating-overlay {
  position: absolute;
  width: 100%;
}

.rating-proxy {
  width: 28px;
  height: 28px;
  background-color: transparent;
  position: absolute;
}

.rating-proxy[data-rating="2"] {
  left: 28px;
}

.rating-proxy[data-rating="3"] {
  left: 56px;
}

.rating-proxy[data-rating="4"] {
  left: 84px;
}

.rating-proxy[data-rating="5"] {
  left: 112px;
}

input,
textarea {
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e3e7ef;
  border-radius: 3px;
  margin: 10px 0;
  color: #596981;
}

#edit-link,
#new-recipe {
    display: none;
}

.admin-logged-in #edit-link,
.admin-logged-in #new-recipe {
    display: inline-block;
}

.admin-logged-in #fb-login,
.logged-in #fb-login {
    display: none;
}

@media only screen
and (max-device-width: 667px) {
  nav img {
    height: 60px;        
  }  
    
  #previews {
    display: none;  
  }
  
  #content {
    width: 96%;  
    margin-top: 2%;
  }
  
  h1, 
  #content .title {
    font-size: 28px;  
  }
  
  article {
    padding: 20px;  
  }
  
  h1 {
    margin-left: 5px;
  }
  
  #recipe-list td,
  #recipe-list th,
  #recipe-list th:first-child {
    padding: 5px;  
  }
  
  .list-img {
    display: none;  
  }
  
  .recipe-img {
    width: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .rating-background {
    width: 80px;
  }
  
  .rating,
  .rating-background {
    height: 17px;  
  }
  
  #recipe-list th {
    line-height: 1em;
  }
  
  .meta-data-date {
    display: block;
    margin: 4px 0;
  }
  
  .admin-logged-in #edit-link, 
  .admin-logged-in #new-recipe {
    display: none;  
  }
}