{% extends "layout.html" %}

{% block content %}

    <h1 class="title">Are you sure you want to delete this recipe?</h1>
    <a class="btn" href="/edit/{{ id }}">No! Take me back.</a>
    <a class="btn" href="/delete/{{ id }}">Yes! I hate it.</a>

{% endblock %}