{% extends "layout.html" %}

{% block content %}

  <h1 class="title">The BeniHannah Recipe Book</h1>
  <a class="btn upper-right" href="/new">New Recipe</a>

  <table id="recipe-list">
    <tr>
      <th>Title</th>
      <th>Date Eaten</th>
      <th>Rating</th>
    </tr>

    {% for recipe in recipes %}
      <tr>
        <td><a href="/view/{{ recipe.id }}">{{ recipe.title }}</a></td>
        <td>{{ recipe.date }}</td>
        <td>
          {% for i in 1..5 %}
            {% set fill_ratio = recipe.rating_avg - i %}
            <span class="rating{% if fill_ratio > 1 %} filled"{% elseif fill_ratio > 0 %}" style="width: {{ fill_ratio }}%"{% else %} empty"{% endif %}></span>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}

  </table>

  <div class="fine-print">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
{% endblock %}