{% extends "layout.html" %}

{% block content %}
    <h1 class="title">New Recipe</h1>
    <a class="btn upper-right" href="/">Back to List</a>

    <form action="/save" method="post">
        <input type="text" name="url" placeholder="URL" />
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="image_url" placeholder="Image URL" />
        <textarea type="textarea" name="ingredients" placeholder="Ingredients" rows="10"></textarea>
        <textarea type="textarea" name="description" placeholder="Description" rows="10"></textarea>
        <input type="text" name="date" placeholder="Date Eaten" />
        <input type="text" name="rating_ben" placeholder="Ben's Rating" />
        <input type="text" name="rating_hannah" placeholder="Hannah's Rating" />
        <input class="btn" type="submit" value="Save" />
    </form>
{% endblock %}