{% extends "layout.html" %}

{% block content %}
    <h1 class="title">New Recipe</h1>

    <form action="/save" method="post">
        <input type="text" name="url" placeholder="URL" />
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="image_url" placeholder="Image URL" />
        <input type="textarea" name="ingredients" placeholder="Ingredients" />
        <input type="textarea" name="description" placeholder="Description" />
        <input class="btn" type="submit" value="Save" />
    </form>
{% endblock %}